body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: lightgrey;
}

body, .nav li a {
    color: white;
}

.clear-helper {
    clear: both;
}

.icon-arrow,
.icon-menu,
.nav li {
    display: block;
}

.icon-arrow {
    background: url(../images/arrow.svg) no-repeat center;
}

.icon-menu {
    background: url(../images/menu.svg) no-repeat center;
}

/*-------------- Rules for header/menu ---------------*/
.menu-nav {
    font-size: 4vw;
}

.main-navbar {
    background-color: #373c3f;
}

.page-head {
    padding: 3% 0 2% 6%;
    float: left;
}

.navigation-label {
    font-size: 6vw;
}

.nav {
    list-style: none;
}

.nav li {
    background-color: #373c3f;
}

.nav li a {
    text-decoration: none;
}

#nav-button {
    background-color: #202529;
    float: right;
}

.blaz-link {
    display: block;
    color: #b5d7e1;
    font-size: 4vw;
    padding-top: 6%;
}

/*!-------- End rules for header/menu ------------!*/

/*-------------- Rules for awesome psd banner ---------------*/
.awesome-psd-banner-content .icon-arrow {
    float: right;
}

.awesome-psd-banner-content {
    background-color: #12aabf;
    width: 84%;
    font-size: 5.9vw;
    padding: 18% 8% 18% 8%;
}

/*!-------- End rules for awesome psd banner ------------!*/

/*-------------- Rules for Robin Hood block ---------------*/
.rh-container {
    display: table;
    width: 100%;
    background-color: #bc3184;
}

.rh-text {
    font-size: 3vw;
    padding: 9% 16% 11% 10%;
    width: 78%;
    border-top: 1px solid #514657;
    color: #9988a8;
    background-color: #27212d;
    display: table-cell;
}

.rh-arrow-container {
    background-color: #bc3184;
    display: table-cell;
    vertical-align: middle;
    width: 22%;
    text-align: center;
    border-top: 1px solid #f060e4;
}

.rh-container .icon-arrow {
    display: inline-block;
}

/* !-------- End rules for Robin Hood block ------------! */

/*-------------- Rules for slider box ---------------*/
.slider-box li img {
    width: 100%;
    vertical-align: middle;
}

.swiper-pagination-bullet {
    border: 1px solid #fff;
}
/* !-------- End rules for slider box ------------! */

/*-------------- Rules for footer ---------------*/
.footer-info-content {
    list-style: none;
}

.footer-info-block {
    color: #7c7c7c;
    background-color: #ebebeb;
}

.footer-info-head a {
    text-decoration: none;
    color: #0a8ca6;
}

.footer-info-item {
    font-family: Arial, Helvetica, sans-serif;
}
/* !-------- End rules for footer ------------! */

@media screen and (max-width: 1024px) {
    .navigation-label,
    .menu-nav,
    .page-head,
    .visible-menu {
        display: none;
    }

    .menu {
        display: block;
        font-size: 2vw;
        padding: 4% 0 3% 4%;
    }

    .menu .nav li {
        display: inline-block;
        margin-left: 15px;
    }

    .awesome-psd-banner-content .icon-arrow {
        background-size: 29px 26px;
        width: 32px;
        height: 30px;
    }

    .awesome-psd-banner-content {
        padding: 19% 8% 16% 8%;
    }

    .rh-text {
        font-size: 3vw;
        padding: 11% 0 10% 9%;
        width: 79%;
    }

    .rh-container .icon-arrow {
        background-size: 35px 35px;
        width: 35px;
        height: 35px;
    }

    .slider-box {
        display: table;
    }

    .slider-box li {
        display: table-cell;
        width: 20%;
    }

    .footer-info-head {
        font-size: 3vw;
        padding-left: 3%;
    }

    .footer-info-content {
        overflow: hidden;
        padding: 40px 30px 80px 30px;
    }

    .footer-info-content {
        overflow: hidden;
        padding: 40px 30px 80px 30px;
    }

    .footer-info-item {
        width: 45%;
        float: left;
        margin-bottom: -99999px;
        padding: 0 0 99999px 4%;
    }

    .footer-info-block {
        padding: 5% 8% 15% 8%;
    }

    .footer-info-item:nth-child(1) {
        border-right: 1px solid #ccc;
    }

    .footer-info-item:nth-child(2) {
        border-left: 1px solid #fff;
    }

    .footer-info-item:first-child {
        padding-left: 0;
        padding-right: 4%;
    }
}

@media screen and (max-width: 980px) {
    .awesome-psd-banner-content .icon-arrow {
        background-size: 25px 30px;
        width: 22px;
        height: 30px;
    }

    .awesome-psd-banner-content {
        padding: 18% 8% 16% 8%;
    }

    .footer-info-block {
        padding: 6% 8% 15% 8%;
    }
}

@media screen and (max-width: 640px) {
    .page-head {
        display: table-cell;
        float: none;
        width: 100%;
        vertical-align: middle;
    }

    .footer-text-block {
        float: none;
        width: 100%;
    }

    .main-navbar {
        display: table;
        width: 100%;
    }

    .navigation-label {
        display: block;
        font-size: 4vw;
    }

    .icon-menu {
        width: 31px;
        height: 20px;
        background-size: 27px 31px;
    }

    .menu-nav,
    .menu {
        display: none;
    }

    .visible-menu,
    .slider-box,
    .slider-box li,
    .footer-info-item {
        display: block;
    }

    #nav-button {
        padding: 4% 4% 5% 4%;
        display: table-cell;
        float: none;
        vertical-align: middle;
    }

    .nav li {
        border-top: 1px solid #515151;
        padding: 3% 5%;
    }

    .awesome-psd-banner-content .icon-arrow {
        background-size: 20px 21px;
        width: 20px;
        height: 21px;
    }

    .awesome-psd-banner-content {
        padding: 17% 8% 16% 8%;
    }

    .rh-container .icon-arrow {
        background-size: 25px 32px;
        width: 16px;
        height: 26px;
    }

    .rh-text {
        font-size: 3vw;
        padding: 10% 0 10% 9%;
        width: 80%;
    }

    .slider-box li {
        width: auto;
        height: auto;
    }

    .footer-info-content {
        display: block;
        padding: 0;
    }

    .footer-info-item:nth-child(1),
    .footer-info-item:nth-child(2) {
        border: none;
    }

    .footer-info-head {
        font-size: 5vw;
        padding: 0;
    }

    .footer-info-item {
        width: 100%;
        line-height: 7vw;
        font-size: 4vw;
        float: none;
        padding: 10% 0 0 0;
        border: none;
        margin: 0;
    }

    .footer-info-block {
        padding: 10% 10% 30% 12%;
    }
}

@media screen and (max-width: 320px) {
    .slider-box,
    .navigation-label {
        display: block;
    }

    .icon-menu {
        width: 19px;
        height: 14px;
        background-size: 19px 14px;
    }

    .awesome-psd-banner-content {
        padding: 17% 8% 15% 8%;
    }

    .awesome-psd-banner-content .icon-arrow {
        background-size: 10px 10px;
        width: 10px;
        height: 10px;
        float: right;
    }

    .rh-container .icon-arrow {
        background-size: 10px 15px;
        width: 10px;
        height: 15px;
    }

    .rh-text {
        padding: 11% 0 10% 9%;
        width: 82%;
    }

    .footer-info-head {
        font-size: 7vw;
    }
}

@media screen and (min-width: 1025px) {
    .page-container {
        max-width: 1024px;
        margin: 0 auto;
    }

    .navigation-label,
    .menu-nav,
    .page-head {
        display: none;
    }

    .menu {
        display: block;
        font-size: 16px;
        padding: 42px 42px 36px 38px;
    }

    .menu .nav li {
        display: inline-block;
        margin-left: 15px;
    }

    .awesome-psd-banner-content .icon-arrow {
        background-size: 47px 28px;
        width: 28px;
        height: 39px;
    }

    .awesome-psd-banner-content {
        padding: 187px 82px 156px 82px;
        font-size: 65px;
    }

    .blaz-link {
        font-size: 39px;
        padding-top: 35px;
    }

    .rh-text {
        font-size: 35px;
        padding: 102px 87px;
    }

    .rh-container .icon-arrow {
        background-size: 50px 39px;
        width: 50px;
        height: 39px;
    }

    .slider-box li {
        display: table-cell;
        width: 20%;
    }

    .footer-info-head {
        font-size: 33px;
        padding-left: 25px;
    }

    .footer-info-content {
        overflow: hidden;
        padding: 40px 30px 80px 30px;
    }

    .footer-info-item {
        width: 45%;
        float: left;
        margin-bottom: -99999px;
        padding: 0 0 99999px 35px;
    }

    .footer-info-item:nth-child(1) {
        border-right: 1px solid #ccc;
    }

    .footer-info-item:nth-child(2) {
        border-left: 1px solid #fff;
    }

    .footer-info-item:first-child {
        padding-left: 0;
        padding-right: 35px;
    }

    .footer-info-block {
        padding: 45px 50px 80px 50px;
    }
}
