html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu,
nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    color: white;
}

.main-navbar {
    background-color: #373c3f;
}

.page-head {
    float: left;
}

.nav {
    display: none;
    list-style: none;
}

.nav li {
    display: block;
}

.nav li a {
    color: white;
    text-decoration: none;
}

.awesome_psd_banner {
    background-color: #12aabf;
}

.blaz-ling {
    float: left;
    font-size: 10px;
}

.awesome_psd_banner_content .go-ahead-arrow {
    float: right;
}

.rh_container {
    border-bottom: 1px solid #9a1adf;
}

.rh_text {
    border-top: 1px solid #514657;
    color: #9988a8;
    background-color: #27212d;
}

.rh_arrow_container {
    background-color: #bc3184;
}

.video_placeholder {
    background-color: #5a0fa0;
}

.footer_info_block {
    padding: 38px 31px 50px 35px;
    color: #515151;
    background-color: #ebebeb;
}

.footer_info_head {
    color: #0a8ca6;
}

@media screen and (max-width: 320px) {
    #menu-nav {
        display: block;
    }

    .nav {
    }

    .nav li {
        background-color: #373c3f;
        border-bottom: 1px solid #515151;
    }

    .nav li a {
    }

    .page-head {
        padding: 11px;
    }

    .main-navbar {
        height: 37px;
    }

    #nav-button {
        width: 22px;
        height: 15px;
        float: right;
        padding: 10px;
        background-color: #202529;
    }

    .nav-button-image {
        width: 19px;
        height: 14px;
    }

    .awesome_psd_banner {
        height: 175px;
    }

    .awesome_psd_banner_content {
        width: 230px;
        font-size: 24px;
        padding: 57px 0 53px 23px;
    }

    .awesome_psd_banner_content .go-ahead-arrow {
        width: 10px;
        height: 10px;
    }

    .rh_container {
        height: 74px;
    }

    .rh_container .go-ahead-arrow {
        width: 10px;
        height: 15px;
    }

    .rh_text {
        float: left;
        font-size: 12px;
        padding: 30px 34px 28px 35px;
    }

    .rh_arrow_container {
        float: right;
        padding: 24px 30px 30px 30px;
        border-top: 1px solid #f060e4;
    }

    .video_placeholder {
        padding: 130px 155px;
    }

    .video_placeholder .go-ahead-arrow {
        width: 19px;
        height: 30px;
    }

    .bridge_banner,
    .girl_banner {
        height: 277px;
    }

    .bridge_image,
    .girl_image {
        height: 100%;
        width: 100%;
    }

    .footer_info_item {
        padding-top: 25px;
    }
}
