body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: lightgrey;
}

body, .nav li a {
    color: white;
}

.clear-helper {
    clear: both;
}

.icon-arrow {
    display: block;
    background: url(../images/arrow.svg) no-repeat center;
}

.icon-menu {
    display: block;
    background: url(../images/menu.svg) no-repeat center;
}

/*-------------- Rules for header/menu ---------------*/
#menu-nav {
    font-size: 4vw;
}

.main-navbar {
    background-color: #373c3f;
}

.page-head {
    padding: 3% 0 2% 6%;
    float: left;
}

.navigation_label {
    font-size: 6vw;
}

.nav {
    list-style: none;
}

.nav li {
    background-color: #373c3f;
    display: block;
}

.nav li a {
    text-decoration: none;
}

#nav-button {
    background-color: #202529;
    float: right;
}

.blaz-link {
    display: block;
    color: #b5d7e1;
    font-size: 4vw;
    padding-top: 6%;
}
/*!-------- End rules for header/menu ------------!*/

/*-------------- Rules for awesome psd banner ---------------*/
.awesome_psd_banner {
    text-align: center;
    background-color: #12aabf;
}

.awesome_psd_banner_content .icon-arrow {
    float: right;
}

.awesome_psd_banner_content {
    text-align: left;
    width: 70%;
    font-size: 5.9vw;
    padding: 18% 8% 18% 8%;
}
/*!-------- End rules for awesome psd banner ------------!*/

/*-------------- Rules for Robin Hood block ---------------*/
.rh_container {
    display: table;
    width: 100%;
}

.rh_text {
    font-size: 3vw;
    padding: 9% 16% 11% 10%;
    width: 78%;
    border-top: 1px solid #514657;
    color: #9988a8;
    background-color: #27212d;
    display: table-cell;
}

.rh_arrow_container {
    background-color: #bc3184;
    display: table-cell;
    vertical-align: middle;
    width: 22%;
    text-align: center;
    border-top: 1px solid #f060e4;
}

.rh_container .icon-arrow {
    display: inline-block;
}
/* !-------- End rules for Robin Hood block ------------! */

/*-------------- Rules for slider box ---------------*/
.slider_box li:first-child {
    background-color: #5a0fa0;
    text-align: center;
}

.slider_box li:first-child .icon-arrow {
    display: inline-block;
}

.slider_box li img {
    width: 100%;
    vertical-align: middle;
}
/* !-------- End rules for slider box ------------! */

/*-------------- Rules for footer ---------------*/
.footer_info_block {
    color: #7c7c7c;
    background-color: #ebebeb;
}

.footer_info_head a {
    text-decoration: none;
    color: #0a8ca6;
}

.footer_info_item {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
/* !-------- End rules for footer ------------! */

@media screen and (max-width: 1024px) {
    .page-head {
        padding: 4% 2% 0 5%;
        float: left;
    }

    .navigation_label {
        display: none;
    }

    #menu-nav {
        display: none;
    }

    .menu {
        display: block;
        font-size: 2vw;
        padding: 4% 0 3% 4%;
    }

    .menu .nav li {
        display: inline-block;
        margin-left: 15px;
    }

    .awesome_psd_banner_content .icon-arrow {
        background-size: 29px 26px;
        width: 32px;
        height: 30px;
    }

    .awesome_psd_banner_content {
        padding: 19% 8% 16% 8%;
    }

    .rh_container .icon-arrow {
        background-size: 35px 35px;
        width: 35px;
        height: 35px;
    }

    .youtube-video {
        width: 100%;
        /*height: 100%;*/
        vertical-align: middle;
    }

    .slider_box li:first-child .icon-arrow {
        background-size: 26px 30px;
        width: 26px;
        height: 30px;
    }

    .slider_box {
        display: table;
    }

    .slider_box li {
        display: table-cell;
        width: 20%;
    }

    .footer_info_head {
        font-size: 3vw;
    }

    .footer_text_block {
        float: left;
        width: 45%;
        padding: 0 5% 0 0;
    }

    .footer_info_item {
        font-size: 15px;
        line-height: 3vw;
        width: 100%;
        padding: 7% 0 0 0;
    }

    .footer_info_block {
        padding: 5% 0 15% 8%;
    }
}

@media screen and (max-width: 980px) {
    .slider_box li {
        display: table-cell;
        width: 20%;
    }

    .navigation_label {
        display: none;
    }

    #menu-nav {
        display: none;
    }

    .page-head {
        display: none;
        padding: 4% 3% 4% 5%;
    }

    .menu {
        display: block;
        font-size: 2vw;
        padding: 4% 0 4% 4%;
    }

    .menu .nav li {
        display: inline-block;
        margin-left: 15px;
    }

    .slider_box {
        display: table;
    }

    .awesome_psd_banner_content .icon-arrow {
        background-size: 25px 30px;
        width: 22px;
        height: 30px;
    }

    .awesome_psd_banner_content {
        padding: 18% 8% 16% 8%;
    }

    .rh_text {
        font-size: 3vw;
        padding: 11% 0 10% 9%;
        width: 79%;
    }

    .rh_container .icon-arrow {
        background-size: 35px 35px;
        width: 35px;
        height: 35px;
    }

    .youtube-video {
        width: 100%;
        /*height: 100%;*/
        vertical-align: middle;
    }

    .slider_box li:first-child .icon-arrow {
        background-size: 20px 30px;
        width: 20px;
        height: 30px;
    }

    .footer_info_head {
        font-size: 3vw;
    }

    .footer_text_block {
        float: left;
        width: 45%;
        padding: 0 5% 0 0;
    }

    .footer_info_item {
        font-size: 15px;
        line-height: 3vw;
        width: 100%;
    }

    .footer_info_block {
        padding: 6% 0 15% 8%;
    }
}

@media screen and (max-width: 640px) {
    .page-head {
        display: block;
        padding: 3% 0 2% 6%;
        float: left;
    }

    .footer_text_block {
        float: none;
        width: 100%;
    }

    .slider_box {
        display: block;
    }

    .navigation_label {
        display: block;
        font-size: 4vw;
    }

    .icon-menu {
        width: 31px;
        height: 20px;
        background-size: 27px 31px;
    }

    #menu-nav {
        display: none;
    }

    .menu {
        display: none;
    }

    #nav-button {
        padding: 4% 4% 5% 4%;
    }

    .nav li {
        border-top: 1px solid #515151;
    }

    .awesome_psd_banner_content .icon-arrow {
        background-size: 20px 21px;
        width: 20px;
        height: 21px;
    }

    .awesome_psd_banner_content {
        padding: 17% 8% 16% 8%;
    }

    .rh_container .icon-arrow {
        background-size: 25px 32px;
        width: 16px;
        height: 26px;
    }

    .rh_text {
        font-size: 3vw;
        padding: 10% 0 10% 9%;
        width: 80%;
    }

    .slider_box li:first-child .icon-arrow {
        background-size: 56px 63px;
        width: 36px;
        height: 57px;
    }

    .slider_box li {
        display: block;
        width: auto;
        height: auto;
    }

    .slider_box li:first-child {
        /*padding: 35% 0;*/
        width: 100%;
        display: inline-block;
    }

    .footer_info_head {
        font-size: 5vw;
    }

    .footer_info_block {
        padding: 10% 10% 30% 12%;
    }

    .footer_info_item {
        line-height: 7vw;
        font-size: 4vw;
        padding-top: 8%;
        float: none;
    }
}

@media screen and (max-width: 320px) {
    .page-head {
        display: block;
        padding: 3% 0 2% 6%;
        float: left;
    }

    .footer_text_block {
        float: none;
        width: 100%;
    }

    .slider_box {
        display: block;
    }

    .navigation_label {
        display: block;
    }

    .icon-menu {
        width: 19px;
        height: 14px;
        background-size: 19px 14px;
    }

    .awesome_psd_banner_content {
        padding: 17% 8% 15% 9%;
    }

    #menu-nav {
        display: none;
    }

    .menu {
        display: none;
    }

    #nav-button {
        padding: 4% 4% 5% 4%;
    }

    .awesome_psd_banner_content .icon-arrow {
        background-size: 10px 10px;
        width: 10px;
        height: 10px;
        float: right;
    }

    .rh_container .icon-arrow {
        background-size: 10px 15px;
        width: 10px;
        height: 15px;
    }

    .rh_text {
        font-size: 3vw;
        padding: 11% 0 10% 9%;
        width: 82%;
    }

    .youtube-video {
        width: 100%;
        /*height: 100%;*/
        vertical-align: middle;
    }

    .slider_box li:first-child .icon-arrow {
        background-size: 19px 30px;
        width: 19px;
        height: 30px;
    }

    .slider_box li {
        display: block;
        width: auto;
        height: auto;
    }

    .slider_box li:first-child {
        padding: 0;
        width: 100%;
        display: inline-block;
    }

    .footer_info_head {
        font-size: 7vw;
    }

    .footer_info_block {
        padding: 10% 10% 30% 12%;
    }

    .footer_info_item {
        line-height: 7vw;
        font-size: 4vw;
        padding-top: 8%;
    }
}

@media screen and (min-width: 1025px) {
    .page-container {
        max-width: 1024px;
        margin: 0 auto;
    }

    .page-head {
        display: none;
    }

    .navigation_label {
        display: none;
    }

    #menu-nav {
        display: none;
    }

    .menu {
        display: block;
        font-size: 16px;
        padding: 42px 42px 36px 38px;
    }

    .menu .nav li {
        display: inline-block;
        margin-left: 15px;
    }

    .awesome_psd_banner_content .icon-arrow {
        background-size: 47px 28px;
        width: 28px;
        height: 39px;
    }

    .awesome_psd_banner_content {
        padding: 187px 0 156px 82px;
        font-size: 68px;
        width: 722px;
    }

    .blaz-link {
        font-size: 39px;
        padding-top: 35px;
    }

    .rh_text {
        font-size: 35px;
        padding: 102px 87px;
    }

    .rh_container .icon-arrow {
        background-size: 50px 39px;
        width: 50px;
        height: 39px;
    }

    .slider_box li:first-child .icon-arrow {
        background-size: 26px 30px;
        width: 26px;
        height: 30px;
    }

    .youtube-video {
        width: 100%;
        /*height: 100%;*/
        vertical-align: middle;
    }

    .slider_box li {
        display: table-cell;
        width: 20%;
    }

    .footer_info_head {
        font-size: 33px;
    }

    .footer_text_block {
        float: left;
        width: 45%;
        padding: 0 37px 0 0;
    }

    .footer_info_item {
        font-size: 16px;
        line-height: 25px;
        padding: 18px 0 0 0;
    }

    .footer_info_block {
        padding: 45px 0 80px 83px;
    }
}
